.cs-grid {
  display: grid;
}

.container {
}

#banner-image {
  height: 25rem;
  background-image: url("../assets/images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner-message {
  padding: 5rem;
  text-align: center;
  background: var(--clr-gr-1);
}

#banner-message > h1 {
  text-transform: uppercase;
  font-size: var(--fs-heading);
  line-height: 3.5rem;
  letter-spacing: 1.2rem;
  margin-bottom: 1.8rem;
}

#banner-message > p {
  width: 30ch;
  margin: auto;
  margin-bottom: 1.8rem;
}

#banner-form {
}

#banner-form .input-group {
  height: 4rem;
  position: relative;
}

#banner-form input[type="email"] {
  height: 100%;
  padding: 0.5rem 10rem 0.5rem 1.5rem;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--clr-pr-1);
  border-radius: var(--brdr-radius);
  margin-bottom: 0.8rem;
}

#banner-form input[type="email"]::placeholder {
  color: var(--clr-pr-1);
  text-transform: capitalize;
  opacity: 0.5;
}

#banner-form input[type="email"]:focus {
  outline: none;
}

#banner-form .input-group.error input[type="email"] {
  border: 0.3rem solid var(--clr-error);
}

#banner-form .input-group.success input[type="email"] {
  border: 0.3rem solid var(--clr-success);
}

#banner-form button[type="submit"] {
  position: absolute;
  height: 100%;
  right: 0;
  padding: 0 3rem;
  border-radius: var(--brdr-radius);
  border: transparent;
  background: var(--clr-gr-2);
  opacity: 0.7;
}

#banner-form button[type="submit"]:enabled:hover {
  transition: 300ms;
  box-shadow: 0.1rem 0.1rem 1rem var(--clr-pr-2);
  opacity: 1;
}

#banner-form button[type="submit"]:enabled:active {
  transition: 300ms;
  box-shadow: none;
  opacity: 0.7;
}

#banner-form button[type="submit"]:enabled {
  cursor: pointer;
}

#banner-form button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#banner-form .input-group.error > img {
  position: absolute;
  right: 8rem;
  top: 0.8rem;
}

#help-text {
  font-size: calc(var(--fs-body) - 0.5rem);
}

#banner-form .input-group.success #help-text {
  color: var(--clr-success);
}

#banner-form .input-group.error #help-text {
  color: var(--clr-error);
}

@media screen and (min-width: 992px) {
  .cs-grid {
    display: grid;
    grid-template-columns: 5fr 4fr;
  }

  .container {
    max-width: 160rem;
    margin: auto;
  }

  #banner-image {
    order: 2;
    height: 100%;
    background-image: url("../assets/images/hero-desktop.jpg");
    /* background-size: contain; */
  }

  #banner-message {
    order: 1;
    align-self: flex-start;
    min-height: 100vh;
    text-align: left;
    padding: 5rem 15rem;
    background: url("../assets/images/bg-pattern-desktop.svg");
    background-color: var(--clr-gr-2);
    background-repeat: no-repeat;
    background-size: cover;
  }

  #banner-message > h1 {
    line-height: 5.8rem;
    letter-spacing: 2rem;
    margin-bottom: 2.2rem;
  }

  #banner-message > p {
    width: unset;
    margin: unset;
    margin-bottom: 3.5rem;
  }

  #banner-form .input-group {
    height: 6rem;
  }

  #banner-form input[type="email"] {
    padding-left: 3rem;
    padding-right: 16rem;
    margin-bottom: 1rem;
  }

  #banner-form button[type="submit"] {
    padding: 0 5rem;
  }

  #banner-form .input-group.error > img {
    right: 12rem;
    top: 1.5rem;
    height: 3rem;
  }

  #help-text {
    padding: 0 3rem;
  }
}
