.cs-grid {
  display: grid;
}

.container {
  max-width: 55rem;
}

#banner-image {
  height: 30rem;
  background-image: url("../assets/images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner-message {
  padding: 3rem;
  text-align: center;
  background: var(--clr-gr-1);
}

#banner-message > h1 {
  text-transform: uppercase;
  font-size: var(--fs-heading);
}

@media screen and (min-width: 992px) {
  .cs-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #banner-image {
    order: 2;
    height: 5rem;
    border: 5px solid green;
  }

  #banner-message {
    order: 1;
  }
}
